{
  "openapi": "3.0.0",
  "info": {
    "title": "EarnTrack API",
    "description": "Comprehensive earning management and financial platform with 348+ RESTful API endpoints across 35 phases",
    "version": "1.0.0",
    "contact": {
      "name": "EarnTrack Support",
      "email": "support@earntrack.com",
      "url": "https://earntrack.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.earntrack.com/api/v1",
      "description": "Production API"
    },
    {
      "url": "https://staging-api.earntrack.com/api/v1",
      "description": "Staging API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "invoiceNumber": {
            "type": "string",
            "description": "Unique invoice number"
          },
          "clientName": {
            "type": "string"
          },
          "clientEmail": {
            "type": "string",
            "format": "email"
          },
          "totalAmount": {
            "type": "number",
            "format": "decimal"
          },
          "taxRate": {
            "type": "number",
            "format": "float"
          },
          "taxAmount": {
            "type": "number",
            "format": "decimal"
          },
          "finalAmount": {
            "type": "number",
            "format": "decimal"
          },
          "status": {
            "type": "string",
            "enum": ["draft", "sent", "paid", "partially_paid", "overdue"]
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InvoicePayment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "invoiceId": {
            "type": "string",
            "format": "uuid"
          },
          "paymentAmount": {
            "type": "number",
            "format": "decimal"
          },
          "paymentDate": {
            "type": "string",
            "format": "date-time"
          },
          "paymentMethod": {
            "type": "string",
            "enum": ["bank_transfer", "card", "check", "cash", "digital"]
          },
          "status": {
            "type": "string",
            "enum": ["completed", "pending", "failed"]
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Earning": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "platformId": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "hours": {
            "type": "number",
            "format": "decimal"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User Login",
        "operationId": "loginUser",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User Registration",
        "operationId": "registerUser",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": ["email", "password", "name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully"
          }
        }
      }
    },
    "/invoices/invoices": {
      "post": {
        "tags": ["Invoice & Billing"],
        "summary": "Create Invoice",
        "operationId": "createInvoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientName": {
                    "type": "string"
                  },
                  "clientEmail": {
                    "type": "string",
                    "format": "email"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "taxRate": {
                    "type": "string"
                  }
                },
                "required": ["clientName", "clientEmail", "amount", "dueDate"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      },
      "get": {
        "tags": ["Invoice & Billing"],
        "summary": "List Invoices",
        "operationId": "getInvoices",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["draft", "sent", "paid", "partially_paid", "overdue"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/invoices/{invoiceId}": {
      "get": {
        "tags": ["Invoice & Billing"],
        "summary": "Get Invoice Details",
        "operationId": "getInvoiceById",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "put": {
        "tags": ["Invoice & Billing"],
        "summary": "Update Invoice",
        "operationId": "updateInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice updated successfully"
          }
        }
      },
      "delete": {
        "tags": ["Invoice & Billing"],
        "summary": "Delete Invoice",
        "operationId": "deleteInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice deleted successfully"
          }
        }
      }
    },
    "/invoices/invoices/{invoiceId}/publish": {
      "put": {
        "tags": ["Invoice & Billing"],
        "summary": "Publish Invoice",
        "operationId": "publishInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice published successfully"
          }
        }
      }
    },
    "/invoices/payments": {
      "post": {
        "tags": ["Invoice & Billing"],
        "summary": "Record Payment",
        "operationId": "recordPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invoiceId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "paymentAmount": {
                    "type": "string"
                  },
                  "paymentDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "paymentMethod": {
                    "type": "string",
                    "enum": ["bank_transfer", "card", "check", "cash", "digital"]
                  }
                },
                "required": ["invoiceId", "paymentAmount", "paymentDate"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment recorded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePayment"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Invoice & Billing"],
        "summary": "Get Payments",
        "operationId": "getPayments",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoicePayment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/analytics": {
      "get": {
        "tags": ["Invoice & Billing"],
        "summary": "Get Invoice Analytics",
        "operationId": "getInvoiceAnalytics",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "integer"
                    },
                    "totalInvoices": {
                      "type": "integer"
                    },
                    "totalInvoiced": {
                      "type": "number"
                    },
                    "totalPaid": {
                      "type": "number"
                    },
                    "outstanding": {
                      "type": "number"
                    },
                    "collectionRate": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/earnings": {
      "post": {
        "tags": ["Earnings Management"],
        "summary": "Create Earning Record",
        "operationId": "createEarning",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platformId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "amount": {
                    "type": "number",
                    "format": "decimal"
                  },
                  "hours": {
                    "type": "number",
                    "format": "decimal"
                  }
                },
                "required": ["platformId", "date", "amount"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Earning created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Earning"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Earnings Management"],
        "summary": "List Earnings",
        "operationId": "getEarnings",
        "parameters": [
          {
            "name": "platformId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of earnings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Earning"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
